<body>
  <div class= "container">
    <h1 id="ToDo">TODO List</h1>
    <p>A place to store your to-dos</p>
  
    <form>
    <input type="text" placeholder="Filter your to-dos" class="inputBox" id="filterInput">
    <div id=taskArray>
   <ol>
      <li *ngFor="let todo of tasks">
        <span><app-todo [task] = "todo.task" [completed] = "todo.completed"></app-todo>
          <button class="exitButton">X</button>
        </span>
      </li> 
      </ol>
</div>
    <input type="text" placeholder="Add your to-do" class="inputBox" id="addTaskInput" [(ngModel)]="newTodo">

    </form>  
    
    <button (click)="addTask(newTodo)" class="containerButton">Add</button>

  
</div>
</body>

