<body>
  <div class= "container">
    <h1 id="ToDo">TODO List</h1>
    <p>A place to store your to-dos</p>
  
    <form>
    <div id=taskArray>
      <input type="text" name="filterTodos" [(ngModel)]="filterTodos" placeholder="Filter your to-dos" class="inputBox" id="filterInput">

   <ol>
        <!-- <li *ngFor="let todo of tasks | filterTasks" -->
        <app-todo *ngFor="let todo of filterTasks(); let i = index;"
          (itemDeleted)="onItemDeleted(i)" [task] = "todo.task" [completed] = "todo.completed"></app-todo> 
      </ol>
</div>
    <input name="newTodo" type="text" placeholder="Add your to-do" class="inputBox" id="newTodo" [(ngModel)]="newTodo">

    </form>  
    
    <button (click)="addTask()"  class="containerButton">Add</button>

  
</div>
</body>
